/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
	color: #1E1E20;
	font-weight: 100;
  background-color: #44444F;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 100;
}

h1 {
  margin: 1em 0;
  font-size: 1.5rem;
  font-weight: bold;
}
p { margin: 1em 0; }

a {
	color: #FC9829;
	text-decoration: underline;
}

ul {
  margin-bottom: 2em;
  list-style-type: none;
}

.clear {	clear:both; }
.pull-left { float: left;}
.pull-right { float: right;}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
section.header-container {
  float: left;
  width: 25%;
  margin: 0 auto;
  color: #FFF;
  text-align: left;
  display: block;
}

section.header-container section {
  margin: 0 auto;
  width: 85%;
}

h1.big-intro {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1em;
}

.posts, .book-list, .post {
  margin-bottom: 2em;
	text-align: justify;
  margin-left: 60px;
  width:60%;
  height: 100%;
}

.post-section {
  line-height: 1.75em;
  padding: 20px 0;
}

.post-section a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.posts span {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  line-height: 1.5em;
  float: left;
  background-color: #FFF;
  padding: 60px 0 0 0;
  width: 75%;
  height: auto;
  min-height: 100%;
}

header {
  line-height: 1.5em;
  background-color: #f1f1f1;
  padding: 40px 0;
  min
}

.header a {
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
	padding: 20px 0;
	text-align: center;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.me {
	width: 128px;
	height: 128px;
	border-radius: 100px;
	display: block;
	margin: 0 auto;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

/*.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}*/

/*.post pre code {
  border: none;
}*/

/* terminal */
/*.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}*/

.post h1 {
  color: #555;
  margin: 1em 0;
}

.description {
  font-size: 14px;
  color: #AAA;
  font-weight: 100;
  line-height: 1.5em;
}

.social {
	display:inline-block;
	text-align: center;
	width: 150px;
	font-size: 16px;
}

.finish {
	font-size: 16px;
	font-style: italic;
	color: #CCC;
}

.links a {
	border: 0;
}

.home-link-container {
	margin: 20px 0;
}

.post-date {
	font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #CCC;
}

.tldr {
	border: 2px solid #AAA;
	width: 50%;
	margin: 40px auto;
}

.highlight {
	font-size: 14px;
}

.strike-through {
  text-decoration: line-through;
}

blockquote {
  border-left: 4px solid #CCC;
  padding: 0px 10px;
  font-style: italic;
  color: #777;
}

.upcase {
  text-transform: uppercase;
}

img.avatar {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 50px;
  margin: 40px 0;
  width: 100px;
}

.underline {
  text-decoration: underline;
}

/*****************************************************************************/
/*
/* Books
/*
/*****************************************************************************/

ul.books li {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

ul.books li a {
  text-decoration: none;
}

h1.date-header {
  font-weight: bold;
  color: #777;
}

h1.post-title {
  font-weight: bold;
  color: #FC9829;
  margin: 10px 0 30px 0;
  font-size: 28px;
  text-transform: uppercase;
}
