/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #1E1E20;
  font-weight: 100;
  background-color: #44444F;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 100;
}

h1 {
  margin: 1em 0;
  font-size: 1.5em;
  font-weight: bold;
}

p { margin: 1em 0; }

a {
  color: #FC9829;
  text-decoration: underline;
}

ul {
  margin-bottom: 2em;
  list-style-type: none;
}

.clear {	clear:both; }
.pull-left { float: left;}
.pull-right { float: right;}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
section.header-container {
  margin: 0 auto;
  color: #FFF;
  text-align: left;
  display: block;
}

img.avatar {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 50px;
  margin: 40px 0;
  width: 100px;
}


@media screen and (min-width: 666px) {
    section.header-container {
        float: left;
        width: 25%;
    }

    section.header-container section {
      width: 85%;
      margin: 0 auto;
    }

    .ss-small {
      display: none;
    }

    .ss-large {
      display: block;
    }
}

@media screen and (max-width: 666px) {
    section.header-container {
      width: 100%;
    }

    section.header-container section {
      margin-left: 60px;
      width: 100%;
    }

    img.avatar {
      float: left;
      margin: 0 20px 0 0;
    }

    .ss-small {
      display: block;
    }

    .ss-large {
      display: none;
    }

    .site {
      min-width: 100%;
    }
}

@media screen and (max-width: 480px) {
  section.header-container section{
      max-width: 100%;
      width: 60%;
  }
}

h1.big-intro {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1em;
}

.posts, .book-list, .post {
  margin-bottom: 2em;
  margin-left: 60px;
  width:60%;
  height: 100%;
}

.post-section {
  line-height: 1.75em;
  padding: 20px 0;
}

.post-section a {
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}

.posts span {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  line-height: 1.5em;
  float: left;
  background-color: #FFF;
  padding: 60px 0 0 0;
  width: 75%;
  height: auto;
  min-height: 100%;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  padding: 20px 0;
  text-align: center;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.me {
  width: 128px;
  height: 128px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.post h1 {
  color: #555;
  margin: 1em 0;
}

.description {
  font-size: 0.9em;
  color: #AAA;
  font-weight: 100;
  line-height: 1.5em;
}

.social {
  display:inline-block;
  text-align: center;
  width: 150px;
  font-size: 1em;
}

.finish {
  font-size: 1em;
  font-style: italic;
  color: #CCC;
}

.links a {
  border: 0;
}

.home-link-container {
  margin: 20px 0;
}

.post-date {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
  color: #CCC;
}

.tldr {
  border: 2px solid #AAA;
  width: 50%;
  margin: 40px auto;
}

.highlight {
  font-size: 0.8em;
}

.strike-through {
  text-decoration: line-through;
}

blockquote {
  border-left: 4px solid #CCC;
  padding: 0px 10px;
  font-style: italic;
  color: #777;
}

.upcase {
  text-transform: uppercase;
}


.underline {
  text-decoration: underline;
}

/*****************************************************************************/
/*
/* Books
/*
/*****************************************************************************/

ul.books li {
  margin: 20px 0;
  font-size: 1px;
  font-weight: bold;
}

ul.books li a {
  text-decoration: none;
}

h1.date-header {
  font-weight: bold;
  color: #777;
}

h1.post-title {
  font-weight: bold;
  color: #FC9829;
  margin: 10px 0 30px 0;
  font-size: 2em;
  text-transform: uppercase;
}
