<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <section class="header-container">
    <section>
      <a href="/" class="ss-large"><img src="/images/meee.jpg" class="avatar"></img></a>
      <h1 class="big-intro ss-large">Hello there!</h1>
      <h1 class="ss-large">I'm Shubham Bansal</h1>
      <h1 class="ss-small">Hello there, I am Shubham Bansal.</h1>
      <p>
        I live in Chicago with my <a href="https://twitter.com/dmendira" target="_blank" class="underline">Wife</a> and
        <a href="https://twitter.com/aryaabansal" target="_blank" class="underline">Daughter</a>.
      </p>
      <p>I like Programming, <a href="/books" class="underline">Reading</a>, Travel and Squash. I am <a href="https://twitter.com/shubhambansal">@shubhambansal</a> on twitter.</p>
    </section>
  </section>
  <section class="site">{{ content }}</section>
  <section class="clear"></section>
  <script type="text/javascript" src="//use.typekit.net/bqt0vrh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>
